body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  border: 1px solid black;
  width: 400px;
  padding: 20px;
  text-align: center;
}

.listItems {
  margin-top: 10px;
}

.listItems ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
