body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: aqua;
}

.listItems {
  margin-top: 10px;
}

.listItems ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 1366px) {
  .main-container {
    border: 1px solid black;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: aqua;
  }
}
